<div class="table-responsive">
    <table class="table table-striped">
        <thead class="industrialVisitHeadingBackground">
            <tr>
                <th scope="col">Year</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Alloted Mentors</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">B.E. I Year</th>
                <td>1</td>
                <td>60</td>
                <td>Mr. Surendra Gupta</td>
                
            </tr>
            <tr>
                <th scope="row">B.E. I Year</th>
                <td>61</td>
                <td>120</td>
                <td>Mr. Swarnim Soni</td>
               
            </tr>
            <tr>
                <th scope="row">B.E. II Year</th>
                <td>1</td>
                <td>60</td>
                <td>Jyoti Tiwari</td>
                
            </tr>
            <tr>
                <th scope="row">B.E. II Year</th>

            </tr>
            <tr>
                <th scope="row">B.E. III Year</th>
                <td>61</td>
                <td>120</td>
                
                <td>Somil Neema</td>
            </tr>
            <tr>
                <th scope="row">B.E. III Year</th>
                <td>1</td>
                <td>60</td>
                <td>Swarnim Soni</td>
                
            </tr>
            <tr>
                <th scope="row">B.E. IV Year</th>
                <td>61</td>
                <td>120</td>
                <td>Somil Neema</td>
                
            </tr>
            <tr>
                <th scope="row">B.E. IV Year</th>
                <td>1</td>
                <td>60</td>
                <td>Surendra Gupta</td>
                
            </tr>
        </tbody>
    </table>
</div>