<div class="kyc-section rewards-section reports-sectn">
    <div class="row">
    <div class="col-lg-9">
    <!--Middle Section-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="About_Computer_Club.html" style="text-decoration:none">Upcoming Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="About_Computer_Club_Past.html" style="text-decoration:none">Past Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="About_Computer_Club_Team.html" style="text-decoration:none">Team</a>
      </li>
    </ul>
    <br>
    <div class="card">
      <div class="card-header" id="headingone">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseone"
            aria-expanded="false" aria-controls="collapseone" style="text-decoration:none">
            <h5>Workshops</h5>
          </button>
        </h5>
      </div>
      <div id="collapseone" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingtwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwo"
            aria-expanded="false" aria-controls="collapsetwo" style="text-decoration:none">
            <h5>Expert Lectures</h5>
          </button>
        </h5>
      </div>
      <div id="collapsetwo" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingthree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree"
            aria-expanded="false" aria-controls="collapsethree" style="text-decoration:none">
            <h5>Competitions</h5>
          </button>
        </h5>
      </div>
      <div id="collapsethree" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingfour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"
            aria-expanded="false" aria-controls="collapsefour" style="text-decoration:none">
            <h5>Others</h5>
          </button>
        </h5>
      </div>
      <div id="collapsefour" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>


    <!--middle section content end-->
  </div>

<div class="col-lg-3 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
      <form>
        <h6 style="background:#0085cc;color:white;padding:2%;">Suggestion Box</h6><br>
        <div class="form-group">
          <label>Name : </label>
          <input type="text" class="form-control" placeholder="enter name...">
        </div>
        <div class="form-group">
          <label>Designation : </label>
          <select id="designation" class="form-control">
            <option>Select</option>
            <option></option>
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label>Your Suggestion : </label>
          <textarea class="form-control" id="message-text" placeholder="enter your suggestion..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:32%;">Submit</button>
      </form>
      <form>
        <br>
        <h6 style="background:#0085cc;color:white;padding:2%;">Contact Detail</h6><br>
        <h6>Mentor : Priyanka Bamne</h6>
        <hr>
        <p><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671</p>
        <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> abc@gmail.com</p>
      </form>
    </div>
  </div>
</div>
<!--left section end-->
<!--end left pannel-->

<!--Start Right Panel-->
<!--End Right Panel-->
</div>
