<div class="row">
  <!--left pannel start-->
  <div class="col-lg-12 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
      <ul class="nav nav-pills nav-fill" id='classes' role="tablist">
          <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#avlc">AVLC</a>
                   
          </li>
          <li class="nav-item ">
              <a class="nav-link" data-toggle="pill" href="#lt201">LT 201</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#lt301">LT 301</a><br>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#conferenceroom">Expert Lecture</a><br>
          </li>
        </ul>  
      <div class="tab-content" id="classes">

        <div id='avlc' class="tab-pane active">
          <br>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#inventory" style="text-decoration:none">Inventory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#timetable" style="text-decoration:none">Time Table</a>
              </li>
  
            </ul>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-10">
                  <h3 class="heading1 ml-3">Electronics<i class="fa fa-sort-desc fa-fw" class="icon" aria-hidden="true"></i></h3>
                  </div>
                  <div class="col-lg-2">
                    <i class="fa fa-laptop fa-fw" aria-hidden="true"></i>
                    <i class="fa fa-cubes fa-fw" aria-hidden="true"></i>
                  </div>
                </div>
                <br>
                <div class="row">
  
                  <div class="col-lg-6 kyc-colm user-management">
                    <div class="kyc-section rewards-section reports-sectn">
                      <h4>Systems</h4>
                      <div class="text-center">
                        <p>Total : 01<br>Working : 00</p>
                      </div>
                      <p>Hardware Issue.</p>
                    </div>
                  </div>
                  <div class="col-lg-6 kyc-colm user-management">
                    <div class="kyc-section rewards-section reports-sectn">
                      <h4>Air Conditioner</h4>
                      <div class="text-center">
                        <p>Total : 01<br>Working : 01</p>
                      </div>
                      <p>Nothing is due.</p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
  
                  <div class="col-lg-6 kyc-colm user-management">
                    <div class="kyc-section rewards-section reports-sectn">
                      <h4>Projectors</h4>
                      <div class="text-center">
                        <p>Total : 01<br>Working : 01</p>
                      </div>
                      <p>Nothing is due.</p>
                    </div>
                  </div>
                  <div class="col-lg-6 kyc-colm user-management">
                    <div class="kyc-section rewards-section reports-sectn">
                      <h4>Speaker & Mike</h4>
                      <div class="text-center">
                        <p>Total : 02<br>Working : 02</p>
                      </div>
                      <p>Nothing is due.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 kyc-colm user-management">
                <div class="kyc-section rewards-section reports-sectn">
                  <div class="row">
                    <div class="col-lg-4" style="color:#1483CC">
                      <h4>Notifications</h4>
                    </div>
                    <div class="col-lg-8" style="padding-left:40%;">
                      <a href="#" class="add-engagement" data-toggle="modal" data-target="#stockRecord" data-whatever="@mdo"><i
                          class="fa fa-archive fa-fw" aria-hidden="true"></i>
                        Stock Record</a><br>
                      <a href="#" class="add-engagement" data-toggle="modal" data-target="#issueRecord" data-whatever="@mdo"><i
                          class="fa fa-book fa-fw" aria-hidden="true"></i>
                        Issue
                        Record</a>
                      <!--Modal is not opening and on clicking x both modal are closing-->
                    </div>
                  </div>
                  <hr>
                  <div class="card">
                    <div class="card-header" id="headingone">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseone"
                          aria-expanded="false" aria-controls="collapseone" style="text-decoration:none">
                          <h5>Equipments</h5>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseone" class="collapse show" aria-labelledby="headingone" data-parent="#accordion">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-5">
                            <h6>Issue 1 Speaker</h6>
                          </div>
                          <div class="col-lg-3 add-engagement">
                            <a href="#">goto stock</a>
                          </div>
                          <div class="col-lg-4">
                            <p>By : Ravi Verma</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4">
                            <p>From : Store</p>
                          </div>
                          <div class="col-lg-4">
                            <p>To: AVLC</p>
                          </div>
                          <div class="col-lg-4">
                            <p><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago
                            </p>
                          </div>
                        </div>
                        <div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                  <!--Furniture-->
                  <div class="card">
                    <div class="card-header" id="headingtwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwo"
                          aria-expanded="false" aria-controls="collapsetwo" style="text-decoration:none">
                          <h5>Furniture</h5>
                        </button>
                      </h5>
                    </div>
                    <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-5">
                            <h6>Issue 2 Benches</h6>
                          </div>
                          <div class="col-lg-3 add-engagement">
                            <a href="#">goto stock</a>
                          </div>
                          <div class="col-lg-4">
                            <p>By : Somil Neema</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4">
                            <p>From : LT 301</p>
                          </div>
                          <div class="col-lg-4">
                            <p>To: AVLC</p>
                          </div>
                          <div class="col-lg-4">
                            <p><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 3 days ago
                            </p>
                          </div>
                        </div>
                        <div>
                        </div>
  
                      </div>
                    </div>
                  </div>
  
                </div>
  
              </div>
            </div>
          


        </div>
        <div id='lt301' class="tab-pane">
          hello
        </div>
        <div id='lt201' class="tab-pane">
          there
        </div>
        <div id='conferenceroom' class="tab-pane">
          hii
        </div>
      </div>
      <!--end left pannel-->

    </div>
  </div>
  </div>