#barChart {
  height: 550px;
}


/* The side navigation menu */
.sidenavbar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  display: none;
  padding-top: 20px; /* Place content 60px from the top */
  max-height: 600px;
}


.sidenavbar ::after {
  height: 100%;
  width: 0;
  background-color: #07165a;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#heading {
  color: #07165a;
  font-weight: bold;
}

.leaveButton {
    background-color: DodgerBlue; /* Blue background */
    margin-right: 10px;
    font-size: 20px;
    padding: 8px 10px;
    border: none; /* Remove borders */
    color: white; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
}

.tableentry {
  overflow: auto;
  height: 500px;
}

mat-cell {
  text-align: left;
  font-size: 15px;
  margin: auto;
  height: 20px;
}

mat-paginator{
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

mat-table {
  width: 100%;
}

mat-header-row {
  background-color: #e6e6e6;
  font-weight: bold;
}

.kyc-section {
  max-height: 800px;
}

#exampleModalLabel {
  padding-bottom: 2px;
  font-weight: bold;
}



