<div class="container">
  <div class="row">
    <!--Start Left Panel-->
    <div class="col-lg-3 profile-info">
        <app-sidenavigation></app-sidenavigation>
    </div>
    <!--End Left Panel-->

    <!--Start Right Panel-->
    <div class="col-lg-9 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
        <div>
          <h3  class="heading" >Attendance<span class="float-right"><button type="button" class="btn btn-info">Leaves</button></span></h3>
          <hr/>
          <div class="chart-features">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--End Right Panel-->

  </div>
</div>
