<!-- Tooltip -->
<link href="../../../assets/css/tooltip.css" rel="stylesheet" type="text/css" />
<script src="js/tooltip.js" type="text/javascript"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script type="text/javascript" src="../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap-datepicker.js"></script>  

<!--grid script-->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function(){
    $('#myTable').dataTable();
  });
</script> 
<!--END grid script-->
<div class="container">
  <div class="row">

<!--Start Left Panel-->
    <div class="col-lg-3 profile-info">
        <app-sidenavigation></app-sidenavigation> 
    </div>
<!--End Left Panel-->
<div class="col-lg-9 kyc-colm user-management">
  <div class="kyc-section rewards-section reports-sectn">


    <!--Start Right Panel-->
   
      
    <ul class="nav nav-pills nav-fill" id="myTab">
        <li class="nav-item">
          <a class="nav-link active" id="sectionA-tab" data-toggle="pill" href="#sectionA" role="tab" aria-controls="sectionA" aria-selected="true">Leave Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="sectionB-tab" data-toggle="pill" href="#sectionB" role="tab" aria-controls="sectionB" aria-selected="true">Infrastructure Request</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="sectionC-tab" data-toggle="pill" href="#sectionC" role="tab" aria-controls="sectionC" aria-selected="true">Information Access Request</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="sectionD-tab" data-toggle="pill" href="#sectionD" role="tab" aria-controls="sectionD" aria-selected="true">Others</a>
        </li>
    </ul>
      <hr/>


      <div class="tab-content" id="pills-tabContent">
      <div class ="tab-pane fade show active" id ="sectionA" role="tabpane1" aria-labelledby="sectionA-tab">
          <div class="alert alert-success row">
              <h4 class="col-12">Leave Request</h4>
              
              <p class="col-4"> Date From:20/11/18  To:13/12/20</p>
              
              <div class="col">
                <p class="col">By:Somil Neema</p>
              </div>
              <h4 class="col">
                  
                  <button type="button" class="btn btn-success">Accept</button>
                  <button type="button" class="btn btn-danger">Decline</button>
                  <div class="btn-group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Forward To
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Somil sir</a>
                        <a class="dropdown-item" href="#">Ritambara Patidar</a>
                        <a class="dropdown-item" href="#">Jyoti Tiwari</a>
                       
                      </div>
                    </div>
                
                </h4>
              
                
      
          </div>
          <div class="alert alert-success row">
              <h4 class="col-12">Leave Request</h4>
              
              <p class="col-4"> Date From:20/11/18  To:13/12/20</p>
              
              <div class="col">
                <p class="col">By:Somil Neema</p>
              </div>
              <h4 class="col">
                  
                  <button type="button" class="btn btn-success">Accept</button>
                  <button type="button" class="btn btn-danger">Decline</button>
                  <div class="btn-group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Forward To
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Somil sir</a>
                        <a class="dropdown-item" href="#">Ritambara Patidar</a>
                        <a class="dropdown-item" href="#">Jyoti Tiwari</a>
                       
                      </div>
                    </div>
                
                </h4>
              
                
      
          </div>
          <div class="alert alert-success row">
              <h4 class="col-12">Leave Request</h4>
              
              <p class="col-4"> Date From:20/11/18  To:13/12/20</p>
              
              <div class="col">
                <p class="col">By:Somil Neema</p>
              </div>
              <h4 class="col">
                  
                  <button type="button" class="btn btn-success">Accept</button>
                  <button type="button" class="btn btn-danger">Decline</button>
                  <div class="btn-group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Forward To
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Somil sir</a>
                        <a class="dropdown-item" href="#">Ritambara Patidar</a>
                        <a class="dropdown-item" href="#">Jyoti Tiwari</a>
                       
                      </div>
                    </div>
                
                </h4>
              
                
      
          </div>
          <div class="alert alert-success row">
              <h4 class="col-12">Leave Request</h4>
              
              <p class="col-4"> Date From:20/11/18  To:13/12/20</p>
              
              <div class="col">
                <p class="col">By:Somil Neema</p>
              </div>
              <h4 class="col">
                  
                  <button type="button" class="btn btn-success">Accept</button>
                  <button type="button" class="btn btn-danger">Decline</button>
                  <div class="btn-group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Forward To
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Somil sir</a>
                        <a class="dropdown-item" href="#">Ritambara Patidar</a>
                        <a class="dropdown-item" href="#">Jyoti Tiwari</a>
                       
                      </div>
                    </div>
                
                </h4>
              
                
      
          </div>
        </div>
        <div class ="tab-pane fade" id ="sectionB" role="tabpane1" aria-labelledby="sectionB-tab">
            
              
                   
      </div>
      <div class ="tab-pane fade" id ="sectionC" role="tabpane1" aria-labelledby="sectionC-tab">
            
                  
        </div>
        <div class ="tab-pane fade" id ="sectionD" role="tabpane1" aria-labelledby="sectionD-tab">
            
              
                 
          </div>
  <!--Notification Panel starts-->
  </div>
</div>
</div>
</div>  
</div>