a{
    text-decoration: none;
}

.accordion {
	background:#726F6F;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}



.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}


.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.expertimage{
    width:10%;
    height: 20%;
}
.industrialVisitHeadingBackground{
    background:#726F6F;
    padding: 1%;
    color:white;
    width : 100%;
  }
