a{
    text-decoration: none;
}

.expertimage{
    width:10%;
    height: 20%;
}
  .industrialVisitHeadingBackground{
    background:rgb(170, 167, 167);
    padding: 1%;
    color:white;
    width : 100%;
  }  
  .modal-header{
    background-color:rgb(4, 58, 87);
    color:white;
    margin:0%;
    
  }