<div class="profile-content">

  <div class="profile-icon"><img src="assets/images/profile-pic_02.jpg" alt=""/>
  </div>
  <div class="txt-info main">

    <h4>Welcome Urjita Thakar</h4>

    <h5>Last Login: Tuesday - 30rd Aug 2018</h5>

    <div class="profile-links">
      <a href="#">ID: XYZ4321112</a>
    </div>
  </div>
  <div class="txt-info three">
    <h3>04</h3>
    <h5><a href="#">Notifications</a></h5>
  </div>
  <div class="txt-info two">
    <h3>15</h3>
    <h5><a href="#">Requests</a></h5>
  </div>
  <div class="txt-info two">
    <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i>
    <h5><a class="nav-link" href = 'hod/to-do'>TO DO</a></h5>
  </div>
  <div>
    <h5><a class="nav-link" href='hod/meetings'>Call a Meeting</a></h5>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLink = 'library' ><i class="fa fa-book" aria-hidden="true"></i> Library <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = 'magazine'><i class="fa fa-book" aria-hidden="true"></i> Magazine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = 'computerClub'><i class="fa fa-desktop" aria-hidden="true"></i>Computer Club</a>
          </li>
          </ul>
     </div>
  </nav>

