.top-buffer {
    margin-top: 10px;
  }

  .icon {
    font-size: 25px;
    color: #1488CC;
  }

  .icon:hover {
    color: #f46404;
  }


  .inline {
    display: inline-block;
    margin-right: 10px;
  }

  .ul-float-rigth {
    text-align: right;
  }

  .add-complaint {
    font-size: 18px;
    text-decoration: none;
    color: #0085cc;
  }

  .add-complaint:hover {
    text-decoration: none;
    color: #f46404;
  }

  .float {
    float: right;
  }

  .complaint-meter {
    text-decoration-line: none;
    color: #1488CC;
  }

  .complaint-meter:hover {
    text-decoration: none;
    color: #f46404;
  }

  .model-head {
    color: white;
    background: #1488CC;
  }

  .button-Reset {
    margin-bottom: 20px;
  }

  .pink-border {
    border: 1px solid pink;
  }

  .form-actions {

    background-color: transparent;
    text-align: center;

  }

  .button-width {
    width: 78px;
  }

  .btnClear {
    display: inline-block;
    vertical-align: top;

  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    color: #f46404;
  }

  .inline-ul:li {
    display: inline;
  }

  ul {
    display: flex;
    list-style: none;

  }

  .complaint-rem {
    font-size: 17px;
    color: #808080;
  }

  .complaint-rem:hover {
    color: #58c365;
  }
  .heading{
    color:#f46404;
  }
  a{
    text-decoration: none;
  }


