<div class="container">
  <div class="row">

    <!--Start Left Panel-->
    <div class="col-lg-9 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
        <!--Calendar comes in below div-->
        <div class="row">
          <div class="col-6">
            <h3 class="heading">{{staffBasicProfile?.name}} [{{staffBasicProfile?.nameAcronym}}]</h3>
          </div>
          <div class="col-6">
            <h3 class="text-right">Employee Id : {{staffBasicProfile?.employeeId}}<i class="fa fa-pencil float-right"
                style="font-size: 30px; margin-left: 20px;"></i></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-3">
            <div><img class="profilepic" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-9">
            <div class=row>
              <div class="col-3">
                <p><b>{{staffBasicProfile?.currentDesignation}}<br />
                    DOB : {{staffBasicProfile?.dob}}<br />
                    Gender : {{staffBasicProfile?.gender}}<br />
                    Nationality : </b></p>
              </div>
              <div class="col-6">
                <p><b>
                    Email : {{staffBasicProfile?.email}}<br />
                    Mobile No. : +91 {{staffBasicProfile?.mobileNo}}<br />
                    Alternate Mobile No. : +91 {{staffBasicProfile?.alternateMobileNo}}<br />
                    Specialization : {{staffBasicProfile?.areaOfSpecialization}}</b></p>
              </div>
              <div class="col-3">
                <p><b>Category : <br />
                    Blood Group : {{staffBasicProfile?.bloodGroup}}</b></p>
              </div>
              <div class="col-12">
                <p>Present Address : {{staffBasicProfile?.presentAddress}}<br />
                  {{staffBasicProfile?.permanentAddress}}<br />
                  Father : {{staffBasicProfile?.fatherName}}<br />
                  Mother : {{staffBasicProfile?.motherName}}</p>
              </div>
            </div>
            <div class="float-right">
              <div class="dropdown">
                <button type="button" class="btn btn-primary nav-link" href="" id="dropdownMenu2"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Profile Section</button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="width: 300px;">
                  <p class="dropdown-item" data-toggle="modal" data-target="#experience_modal">Work Experience
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#education_modal">Education
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#publication_modal">Publications
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#internship_modal">Internships
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#project_modal">Projects
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#competetiveexam_modal">Competetive Exams
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#placement_modal">Placements
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#activities_modal">Activities/Achievements
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                  <p class="dropdown-item" data-toggle="modal" data-target="#workshop_modal">Workshops/Seminars
                    <span class="float-right">
                      <i class="fa fa-plus-square" style="size: 25px;"></i>
                    </span></p>
                  <hr>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Experience <a data-toggle="modal" data-target="#experience_modal"><i class="fa fa-plus-square float-right"
              style="font-size: 30px;"></i></a></h3>
        <div *ngFor="let val of workExperienceInfo">
          <div class="row">
            <div class="col-1">
              <i class="fa fa-suitcase text-center" style="font-size: 60px;"></i>
            </div>
            <div class="col-11">
              <h5> <a data-toggle="modal" [attr.data-target]="'#experience' + val.id"> <i
                    class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
              <p>{{val.designation}}, {{val.organizationName}}<br />
                {{val.dateOfJoining}} - {{val.dateOfLeaving}}<br />
                {{val.city}}, {{val?.state}}, {{val.country}}
              </p>
            </div>
          </div>
          <hr>

          <!-- Modal -->
          <div class="modal fade" id="experience{{val.id}}" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Experience</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="reason">Title<span class="necessary"> *</span></label>
                      <input class="form-control" id="reason" value={{val.designation}}>
                    </div>
                    <div class="form-group">
                      <label for="companyorcollege">Company/College<span class="necessary"> *</span></label>
                      <input class="form-control" id="companyorcollege" value={{val.organizationName}}>
                    </div>
                    <div class="form-group">
                      <label for="From">From : </label>
                      <input type="date" name="From" class="ml-1" value={{val.dateOfJoining}}>
                      <label for="To" class="ml-2"> To : </label>
                      <input type="date" name="To" class="ml-1" value={{val.dateOfLeaving}}>
                    </div>
                    <div class="form-group">

                      <label class="control-label" for="location">Location<span class="necessary"> *</span></label>
                      <input type="text" class="form-control" value="{{val.city}}, {{val.state}}, {{val.country}}"
                        id="location" />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--Empty Modal-->
        <!-- Modal -->
        <div class="modal fade" id="experience_modal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Experience</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group ">
                    <label for="reason">Title<span class="necessary"> *</span></label>
                    <input class="form-control" id="reason">
                  </div>
                  <div class="form-group ">
                    <label for="reason">Company<span class="necessary"> *</span></label>
                    <input class="form-control" id="reason">
                  </div>
                  <div class="form-group">
                    <label for="From">From<span class="necessary"> *</span> :</label>
                    <input type="date" name="From" class="ml-1">
                    <label for="To">To<span class="necessary"> *</span> :</label>
                    <input type="date" name="To" class="ml-1">
                  </div>
                  <div class="form-group">
                    <label class="control-label " for="Type of leave">Location<span class="necessary"> *</span></label>
                    <input class="form-control" type="text">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Education <a data-toggle="modal" data-target="#education_modal"><i class="fa fa-plus-square float-right"
              style="font-size: 30px;"></i></a>
        </h3>
        <ng-container *ngFor="let val of userQualificationInfo">
          <div *ngIf="val; else notAvailable">
            <div class="row">
              <div class="col-1">
                <i class="fa fa-graduation-cap text-center" style="font-size: 60px;"></i>
              </div>
              <div class="col-11">
                <h5>
                  <span *ngIf="val.collegeSchool; else notAvailable">
                    {{val.collegeSchool}}
                  </span>
                  <a data-toggle="modal" [attr.data-target]="'#education' + val.id"><i class="fa fa-pencil float-right"
                      style="font-size: 30px;"></i></a></h5>
                <p>{{val.universityBoard}}<br />{{val.degreeCertificate}}, {{val.specialization}}<br />Year of Passing :
                  {{val.yearOfPassing}}<br />CGPA : {{val.percentageCgpa}}</p>
              </div>
            </div>
            <hr>
            <ng-template #notAvailable>
              <del></del>
            </ng-template>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="education{{val.id}}" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Education</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label class="control-label" for="degreeCertificate">Degree / Certificate<span class="necessary">
                          *</span></label>
                      <input class="form-control" id="degreeCertificate" value={{val.degreeCertificate}} />
                    </div>
                    <div class="form-group">
                      <label for="reason">College / School<span class="necessary"> *</span></label>
                      <input class="form-control" id="reason" value={{val.collegeSchool}}>
                    </div>
                    <div class="form-group">
                      <label for="reason">University / Board<span class="necessary"> *</span></label>
                      <input class="form-control" id="reason" value={{val.universityBoard}}>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <label for="To">Year of Joining</label>
                        <input type="text" name="Passing" class="form-control" value={{val.yearOfJoining}}>
                      </div>
                      <div class="col-lg-6">
                        <label for="To">Year of Passing<span class="necessary"> *</span></label>
                        <input type="text" name="Passing" class="form-control" value={{val.yearOfPassing}}>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="reason">Percentage / CGPA<span class="necessary"> *</span></label>
                      <input class="form-control" id="CGPA" value={{val.percentageCgpa}}>
                    </div>
                    <div class="form-group">
                      <i class="fa fa-file fa-fw"></i><label for="reason">Upload Degree / Final Marksheet<span
                          class="necessary"> *</span></label>

                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>

        </ng-container>
        <!--Empty Modal -->
        <div class="modal fade" id="education_modal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label class="control-label" for="Type of leave">Degree / Certificate<span class="necessary">
                        *</span></label>
                    <input class="form-control" type="text">
                  </div>
                  <div class="form-group ">
                    <label for="reason">College / School<span class="necessary"> *</span></label>
                    <input class="form-control" id="reason">
                  </div>
                  <div class="form-group ">
                    <label for="reason">University / Board<span class="necessary"> *</span></label>
                    <input class="form-control" id="reason">
                  </div>
                  <div class='row'>
                    <div class="col-lg-6">
                      <label for="From">Year of Joining</label>
                      <input type="text" name="Joining" class="form-control">
                    </div>

                    <div class="col-lg-6">
                      <label for="To">Year of Passing<span class="necessary"> *</span></label>
                      <input type="text" name="Passing" class="form-control">
                    </div>
                  </div>
                    <div class="form-group">
                      <label for="reason">Percentage / CGPA<span class="necessary"> *</span></label>
                      <input class="form-control" id="CGPA">
                    </div>

                    <div class="form-group">
                      <i class="fa fa-file fa-fw"></i><label for="reason">Upload Degree / Final Marksheet<span class="necessary"> *</span></label>
                      
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Research Work <a data-toggle="modal" data-target="#publication_modal"><i
              class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div *ngFor="let val of userResearchWorkInfo">
          <div class="row">
            <div class="col-1">
              <i class="fa fa-book text-center" style="font-size: 60px;"></i>
            </div>
            <div class="col-11">
              <h5>{{val.title}}
                <a data-toggle="modal" [attr.data-target]="'#research' + val.id"><i class="fa fa-pencil float-right"
                    style="font-size: 30px;"></i></a>
              </h5>
              <p>{{val.yearOfPublication}}, {{val.publisher}}<br />
                Guide : {{val.guideName}} <br />
                Co-Authors : {{val.coAuthors}}<br />
                Category : {{val.category}}, {{val.subcategory}}<br />
                Journal Conference Name : {{val.journalConferenceName}}

              </p>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="research{{val.id}}" role="dialog">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Research Work</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <form>

                    <div class="form-group ">
                      <label for="publicationTitle">Title<span class="necessary"> *</span></label>
                      <input class="form-control" id="publicationTitle" value={{val.title}}>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="yearOfPublication">Year Of Publication<span class="necessary"> *</span></label>
                        <input class="form-control" id="yearOfPublication" value={{val.yearOfPublication}}>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="publisher">Publisher<span class="necessary"> *</span></label>
                        <input class="form-control" id="publisher" value={{val.publisher}}>
                      </div>

                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="category">Category<span class="necessary"> *</span></label>
                        <input class="form-control" id="category" value={{val.category}}>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="subcategory">Subcategory<span class="necessary"> *</span></label>
                        <input class="form-control" id="subcategory" value={{val.subcategory}}>
                      </div>

                    </div>

                    <div class="form-group ">
                      <label for="conferenceJournalName">Conference / Journal<span class="necessary"> *</span></label>
                      <input class="form-control" id="conferenceJournalName" value={{val.journalConferenceName}}>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="guideName">Guide</label>
                        <input class="form-control" id="guideName" value={{val.guideName}}>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="guideName">Co-Authors<span class="necessary"> *</span></label>
                        <input class="form-control" id="guideName" value={{val.coAuthors}}>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <label for="From">Date of Publication</label>
                        <input type="date" class="form-control" name="Joining">
                      </div>
                      <div class="col-lg-6">
                        <label for="To">Link</label>
                        <input class="form-control" id="link">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!--Empty Modal-->
        <!-- Modal -->
        <div class="modal fade" id="publication_modal" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Research Work</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form>

                  <div class="form-group ">
                    <label for="publicationTitle">Title<span class="necessary"> *</span></label>
                    <input class="form-control" id="publicationTitle" value={{val.title}}>
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="yearOfPublication">Year Of Publication<span class="necessary"> *</span></label>
                      <input class="form-control" id="yearOfPublication" value={{val.yearOfPublication}}>
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="publisher">Publisher<span class="necessary"> *</span></label>
                      <input class="form-control" id="publisher" value={{val.publisher}}>
                    </div>

                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="category">Category<span class="necessary"> *</span></label>
                      <input class="form-control" id="category">
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="subcategory">Subcategory<span class="necessary"> *</span></label>
                      <input class="form-control" id="subcategory">
                    </div>

                  </div>

                  <div class="form-group ">
                    <label for="conferenceJournalName">Conference / Journal<span class="necessary"> *</span></label>
                    <input class="form-control" id="conferenceJournalName">
                  </div>
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="guideName">Guide</label>
                      <input class="form-control" id="guideName">
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="guideName">Co-Authors<span class="necessary"> *</span></label>
                      <input class="form-control" id="guideName">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="From">Date of Publication</label>
                      <input type="date" class="form-control" name="Joining">
                    </div>
                    <div class="col-lg-6">
                      <label for="To">Link</label>
                      <input class="form-control" id="link">
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Internship <a data-toggle="modal" data-target="#internship_modal"><i class="fa fa-plus-square float-right"
              style="font-size: 30px;"></i></a></h3>
        <div *ngFor="let val of userInternshipInfo">
              <div class="row">
          <div class="col-1">
            <i class="fa fa-building text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>{{val.subject}} <a data-toggle="modal" [attr.data-target]="'#internship' + val.id"><i
                  class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>{{val.companyName}}<br />{{val.city}}, {{val.state}}, {{val.country}}<br />{{val.startDate}} - {{val.endDate}}<br /><a href="{{val.certificate}}">View
                Certificate</a></p>
          </div>
        </div>
          <!-- Modal -->
      <div class="modal fade" id="internship{{val.id}}" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Internship</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="reason">Field of Internship<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason" value="{{val.subject}}">
                </div>
                <div class="form-group">
                  <label for="reason">Company Name<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason" value="{{val.companyName}}">
                </div>
                <div class="form-group row">
                  <div class="col-lg-4">
                    <label>City<span class="necessary"> *</span></label>
                    <input class="form-control" type="text" value="{{val.city}}">
                  </div>
                  <div class="col-lg-4">
                    <label>State<span class="necessary"> *</span></label>
                    <input class="form-control" type="text" value="{{val.state}}">
                  </div>
                  <div class="col-lg-4">
                    <label>Country<span class="necessary"> *</span></label>
                    <input class="form-control" type="text" value="{{val.country}}">
                  </div>
              </div>
                <div class='row'>
                  <div class="col-lg-6">
                    <label for="From">From<span class="necessary"> *</span></label>
                    <input type="date" name="Joining" class="form-control" value="{{val.startDate}}">
                  </div>

                  <div class="col-lg-6">
                    <label for="To">To<span class="necessary"> *</span></label>
                    <input type="date" name="Passing" class="form-control" value="{{val.endDate}}">
                  </div>
                </div>
                <br/>
                <div class="form-group certificate">
                    <i class="fa fa-file fa-fw"></i><label for="reason">Upload Certificates<span class="necessary"> *</span></label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>

    </div>
      <!--Empty Modal-->
      <div class="modal fade" id="internship_modal" role="dialog">
          <div class="modal-dialog">
  
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Internship</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="reason">Field of Internship<span class="necessary"> *</span></label>
                    <input class="form-control" id="reason" >
                  </div>
                  <div class="form-group">
                    <label for="reason">Company Name<span class="necessary"> *</span></label>
                    <input class="form-control" id="reason">
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-4">
                      <label>City<span class="necessary"> *</span></label>
                      <input class="form-control" type="text" >
                    </div>
                    <div class="col-lg-4">
                      <label>State<span class="necessary"> *</span></label>
                      <input class="form-control" type="text" >
                    </div>
                    <div class="col-lg-4">
                      <label>Country<span class="necessary"> *</span></label>
                      <input class="form-control" type="text" >
                    </div>
                </div>
                  <div class='row'>
                    <div class="col-lg-6">
                      <label for="From">From<span class="necessary"> *</span></label>
                      <input type="date" name="Joining" class="form-control">
                    </div>
  
                    <div class="col-lg-6">
                      <label for="To">To<span class="necessary"> *</span></label>
                      <input type="date" name="Passing" class="form-control">
                    </div>
                  </div>
                  <br/>
                  <div class="form-group certificate">
                      <i class="fa fa-file fa-fw"></i><label for="reason">Upload Certificates<span class="necessary"> *</span></label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
  
    </div>
 <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Projects <a data-toggle="modal" data-target="#project_modal"><i class="fa fa-plus-square float-right"
              style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-code text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Departmental Information System (DIS) <a data-toggle="modal" data-target="#project_modal"><i
                  class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>July 2018 – Ongoing<br />Guide : Dr. Urjita Thakar<br />The main goal of the DIS is to automate the
              process carried out in the organization with improved performance and realize the visions of paperless
              work. We are attempting to improve our existing system that runs on pen and paper. <br />Other Creators :
              Pavitra Malpani</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-code text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>LEACH Protocol with Enhanced Network Lifetime in Wireless Sensor Network<a data-toggle="modal"
                data-target="#project_modal"><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>May 2015 – May 2016<br />Guide : Mr. K. Anil Kumar<br />In this project, a modified algorithm for LEACH
              protocol is proposed known as “LEACH with Enhanced Network Lifetime protocol (LEACH-ENL)
              for clustered WSN” is aimed at prolonging the lifetime of the sensor networks by balancing the energy
              consumption of the sensor nodes.<br />Other Creators : Kanak Soni, Vatika Goswami</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-code text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Business Card Manager through Optical Character Recognition<a data-toggle="modal"
                data-target="#project_modal"><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>May 2014 – May 2015<br />Guide : Ms. Neha Jain<br />Business Card Manager powered with an advanced
              version of OCR (Optical Character Recognition) technology, this software offers the best of business
              card scanning. Business card manager has an intuitive combination of an easy-to-use interface and a
              powerful search tool that allows finding information .<br />Other Creators : Kanak Soni, Vatika Goswami
            </p>
          </div>
        </div>
      </div>

      <br />

      <!-- Modal -->
      <div class="modal fade" id="project_modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Projects</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>

                <div class="form-group col-lg">
                  <label for="reason">Title<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>
                <div class="form-group col-lg">
                  <label for="reason">Guide<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>
                <div class="form-group col-lg">
                  <label for="reason">Co Guide<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>
                <div class="form-group col-lg">
                  <label for="reason">Description<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>
                <br />

                <div class="form-group col-lg">
                  <label for="reason">Area/ Subject/ Topic<span class="necessary"> *</span></label>
                  <textarea class="form-control" id="reason"></textarea>
                </div>

                <br />
                <div class='row'>
                  <div class="col-lg-6">
                    <label for="From">From<span class="necessary"> *</span></label>
                    <input type="date" name="Joining">
                  </div>

                  <div class="col-lg-6">
                    <label for="To">To<span class="necessary"> *</span></label>
                    <input type="date" name="Passing">
                  </div>
                </div>
                <br />

                <div class="form-group col-lg-6">
                  <label for="reason">Co- Authors<span class="necessary"> *</span></label>
                  <input class="form-control" id="CGPA">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Competetive Exams <a data-toggle="modal" data-target="#comp_exam_modal"><i
              class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-clipboard text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>GATE (Graduate Aptitude Test in Engineering) <i class="fa fa-pencil float-right"
                style="font-size: 30px;"></i></h5>
            <p>Registration No. : VCYA57CSHI<br />Year : 2015</p>
            <div class="row">
              <p class="col-4">Score : 480</p>
              <p class="col-4">Normalized marks : 33.44</p>
              <p class="col-4">Rank : 9876</p>
            </div>
            <a href="#">view score card</a>
          </div>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="comp_exam_modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Competitive Exam</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                <div class="col-lg">
                  <label for="reason">Name of Exam<span class="necessary"> *</span></label>
                  <select id="leavetype" class="form-control">
                    <option>GRE</option>
                    <option>GATE</option>
                    <option>CAT</option>
                  </select>
                </div>

                <div class="form-group col-lg">
                  <label for="reason">Registration No.<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>
                <div class="col-lg">
                  <label for="reason">Year of Exam<span class="necessary"> *</span></label>
                  <select id="leavetype" class="form-control">
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                  </select>
                </div>

                <br />
                <div class='row'>
                  <div class="col-lg-6">
                    <label for="From">Score<span class="necessary"> *</span></label>
                    <input type="form-control" id="reason">
                  </div>

                  <div class="col-lg-6">
                    <label for="To">All India Rank<span class="necessary"> *</span></label>
                    <input type="form-control" id="reason">
                  </div>
                </div>
                <br />

                <div class="form-group col-lg">
                  <label for="reason">Upload Score Card<span class="necessary"> *</span></label>
                  <i class="fa fa-file"></i>
                </div>
                <br />
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Placements <i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-suitcase text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Deloitte, Hyderabad (On Campus) <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
            <p>6.2 CTC<br />status</p>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="placement_modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Internship</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>

                <div class="col-lg">
                  <label for="reason">Company Name<span class="necessary"> *</span></label>
                  <select id="leavetype" class="form-control">
                    <option>Delloite</option>
                    <option>GATE</option>
                    <option>CAT</option>
                  </select>
                </div>
                <div class="form-group col-lg">
                  <label for="reason">Company Address<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>
                <br />

                <label class="control-label col-lg" for="Type of leave">Location<span class="necessary">
                    *</span></label>
                <div class="row">
                  <div class="col-lg-4">
                    <select id="leavetype" class="form-control">
                      <option>Country</option>
                      <option>India</option>
                      <option>USA</option>
                    </select>
                  </div>

                  <div class="col-lg-4">
                    <select id="leavetype" class="form-control">
                      <option>State</option>
                      <option>M.P.</option>
                      <option>New Delhi</option>
                    </select>
                  </div>

                  <div class="col-lg-4">
                    <select id="leavetype" class="form-control">
                      <option>City</option>
                      <option>Indore</option>
                      <option>New Delhi</option>
                    </select>
                  </div>

                </div>
                <br />

                <div class="form-group col-lg">
                  <label for="reason">Area/ Subject/ Topic<span class="necessary"> *</span></label>
                  <input class="form-control" id="reason">
                </div>

                <br />
                <div class='row'>
                  <div class="col-lg-6">
                    <label for="From">From<span class="necessary"> *</span></label>
                    <input type="date" name="Joining">
                  </div>

                  <div class="col-lg-6">
                    <label for="To">To<span class="necessary"> *</span></label>
                    <input type="date" name="Passing">
                  </div>
                </div>
                <br />


                <div class="form-group col-lg">
                  <i class="fa fa-file"></i>
                </div>
                <br />


              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>


      <br />

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Activities/Achievements <i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-trophy text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>District Level Paper Presentation - Cultural <i class="fa fa-pencil float-right"
                style="font-size: 30px;"></i></h5>
            <p>12 May 2015, Indore<br />Participated<br /><a href="#">view certificate</a>></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-trophy text-center" style="font-size: 60px; "></i>
          </div>
          <div class="col-11">
            <h5>Kho-Kho at House level - Sports <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
            <p>02 Sept 2010, Indore<br />Winer<br /><a href="#">view certificate</a>></p>
          </div>
        </div>
      </div>
    </div>


    <!--End Left Panel-->


    <!--Start Right Panel-->
    <div class="col-lg-3 kyc-section rewards-section reports-sectn scroll-area" style="max-height: 1000px">
      <div class="position-static">
        <h3>M.E. II Year <i class="fa fa-download float-right" style="font-size: 30px;"></i></h3>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <hr>
      </div>
      <div>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt="" /></div>
          </div>
          <div class="col-8">
            <h5>Pavitra Malpani</h5>
            <p>0801CS17ME17<br />
              malpanipavitra@gmail.com</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>


  <!--End Right Panel-->