.span-text {
    font-size: 16px;
    margin-left: 10px;
  }

  .more {
    color: #1483cc;

  }

  .more:hover {
    color: #f46404;
  }

  .contact-icon {
    margin-left: 20px;
  }

  a {
    text-decoration: none;
  }

  .box {
    padding: 1%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
  }

  .center {
    display: block;
    margin-left: 25%;

  }

  .center-text {
    margin-left: 20%;
  }

  .navbar-left {
    margin-right: 12%;
  }

  .img-resize {
    margin-left: 35%;
    width: 25%;
    height: 25%;
  }

  .letter-spacing {
    padding-right: 2%;
  }

  .letter-selected {
    color: #f46404;
  }

  .modal-heading {
    background: #1483cc;
    color: white;
  }

  .navbar-left {
    margin-left: 9%;

  }

  .navbar-padding>li {
    padding-left: 35px;
    padding-right: 35px;

  }
  .heading{
      color:#f46404;
  }