<div class="kyc-section rewards-section reports-sectn">
    <div class="row">
      <div class="col-lg-9">
        <div class="">

          <div class="row" style="padding:1%;">
            <div class="col-lg-9">
              <h4>Department Magazine</h4>

            </div>

            <div class="col-lg-3">
                <a href="About_Magazine_Previous.html" class="float-right"><i class="fa fa-eye fa-fw"></i>Previous Editions</a><br>
                <a href="#exampleModal" data-toggle="modal" class="float-right" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-pencil-square-o fa-fw"
                    aria-hidden="true"></i>Contribute Article</a>
              </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center" style="color:#f46404;">
                <h5>2018 Magazine</h5>
                <h5>Department of Computer Engineering</h5>
              </div>
              <div>
                <p>I am glade that the staff and students of our department is bringing out the magazine "Abhikalitra".Since 1983, The computer engineering department of SGSITS has been contributing towards the educational, cultural and social development of the student. it is endeavoring to provide skill set ranging from professional,conceptual,behavioral to interrpersonal skills and inter domain skills with creativity and positive attitude of inovativeness in thinking, ready to accept challanges,willingness to learn new tools and technologiesto produce lifelong learners.</p>
              </div>
              <div><a class="float-right more" href=""><i class="fa fa-download fa-fw" aria-hidden="true"></i>Download</a></div>
            </div>

          </div>

        </div>
      </div>

      <div class="col-lg-3 kyc-colm user-management">
        <div class="kyc-section rewards-section reports-sectn">

          <div class="row">
            <div class="col-lg-12 text-center" style="padding:1%; padding-top:2%;padding-bottom:2%;">
              <h4>Team</h4>
            </div>
          </div>
          <hr>
          <div class="profile-info">
            <div class="profile-icon inline-block">
              <div class="row">
              <div class="col-lg-6">
              <img src="../../../assets/images/img_avatar2.png" class="float-right"  alt="" />
              </div>
              <div class="col-lg-6">
              <span>Faculty name<br>123456789<br> Professor</span>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                <img src="../../../assets/images/img_avatar3.png" class="float-right"  alt="" />
                </div>
                <div class="col-lg-6">
                <span>Student name<br>123456789<br> Student</span>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                <img src="../../../assets/images/img_avatar2.png" class="float-right"  alt="" />
                </div>
                <div class="col-lg-6">
                <span>Faculty name<br>123456789<br> Professor</span>
                </div>
              </div>
            <hr>
          </div>
          <div>
            <a href="#" class="float-right more">more...</a>
          </div>
          <div>
            <br>
            <h6>Contact Us</h6>
            <div class="contact-icon">
              <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 0731-256432</p>
              <p><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671</p>
              <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> abc@gmail.com</p>
            </div>

          </div>

        </div>
      </div>

    </div>
    <!--Main row ends-->
  </div>
</div>
