<div class="profile-content">

  <div class="profile-icon"><img src="assets/images/profile-pic_02.jpg" alt=""/>
  </div>
  <div class="txt-info main">

    <h4>Welcome {{sideNavigation.name}}</h4>

    <h5>Last Login:{{sideNavigation.lastLogin}}</h5>

    <div class="profile-links">
      <a href="#">{{sideNavigation.id}}</a>
    </div>
  </div>
  <div class="txt-info three">
    <h3>12</h3>
    <h5><a href="#">Notifications</a></h5>
  </div>
  <div>
    <h5><a class="nav-link" routerLink='meetings'>Call a Meeting</a></h5>
  </div>
</div>

