<div class="col-lg-12 kyc-colm user-management" style="margin-top: 2%;">
         
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped" style="overflow:hidden;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Student Id</th>
                <th scope="col">Name</th>
                <th scope="col">Attendance %</th>
                <th scope="co1">No. of Leaves</th>
                <th scope="co1">Amount Granted</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>123456</td>
                <td>Sanjeev Kumar</td>
                <td>100</td>
                <td>0</td>
                <td>8000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>122456</td>
                <td>Akshay Neema</td>
                <td>96.77</td>
                <td>1</td>
                <td>8000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>12398</td>
                <td>Vijay Agrawal</td>
                <td>93</td>
                <td>2</td>
                <td>8000</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>12398</td>
                <td>Juhi Yadav</td>
                <td>77</td>
                <td>8</td>
                <td>8000</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>  
            </tbody>
          </table>
  </div>
</div>
<div style="float:right;">
    <a href=""><i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i>Edit Details </a>
    &nbsp&nbsp
    <a href=""><i class="fa fa-print fa-fw" aria-hidden="true"></i>  Generate Report</a>  
</div>
</div>