<div class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
    <div class="input-group mb-1">
      
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Select Year</option>
          <option value="1">BE I YEAR</option>
          <option value="2">BE II YEAR</option>
          <option value="3">BE III YEAR</option>
          <option value="4">BE IV YEAR</option>
        </select>
        
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>From</option>
            <option value="1">1</option>
            <option value="2">31</option>
            <option value="3">61</option>
          </select>
          
            <select class="custom-select pl-4" id="inputGroupSelect01">
              <option selected>To</option>
              <option value="1">30</option>
              <option value="2">60</option>
              <option value="3">90</option>
            </select>
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Select Mentor</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Somil Neema</option>
                <option value="2">Jyoti Tiwari</option>
                <option value="3">Ritambara Patidar</option>
              </select>
      </div>
      <div class="input-group mb-1">
      
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Select Year</option>
            <option value="1">BE I YEAR</option>
            <option value="2">BE II YEAR</option>
            <option value="3">BE III YEAR</option>
            <option value="4">BE IV YEAR</option>
          </select>
          
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>From</option>
              <option value="1">1</option>
              <option value="2">31</option>
              <option value="3">61</option>
            </select>
            
              <select class="custom-select pl-4" id="inputGroupSelect01">
                <option selected>To</option>
                <option value="1">30</option>
                <option value="2">60</option>
                <option value="3">90</option>
              </select>
              <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Select Mentor</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">Somil Neema</option>
                  <option value="2">Jyoti Tiwari</option>
                  <option value="3">Ritambara Patidar</option>
                </select>
        </div>
        <div class="input-group mb-1">
      
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Select Year</option>
              <option value="1">BE I YEAR</option>
              <option value="2">BE II YEAR</option>
              <option value="3">BE III YEAR</option>
              <option value="4">BE IV YEAR</option>
            </select>
            
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>From</option>
                <option value="1">1</option>
                <option value="2">31</option>
                <option value="3">61</option>
              </select>
              
                <select class="custom-select pl-4" id="inputGroupSelect01">
                  <option selected>To</option>
                  <option value="1">30</option>
                  <option value="2">60</option>
                  <option value="3">90</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Select Mentor</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Somil Neema</option>
                    <option value="2">Jyoti Tiwari</option>
                    <option value="3">Ritambara Patidar</option>
                  </select>
          </div>
          <div class="input-group mb-1">
      
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Select Year</option>
                <option value="1">BE I YEAR</option>
                <option value="2">BE II YEAR</option>
                <option value="3">BE III YEAR</option>
                <option value="4">BE IV YEAR</option>
              </select>
              
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>From</option>
                  <option value="1">1</option>
                  <option value="2">31</option>
                  <option value="3">61</option>
                </select>
                
                  <select class="custom-select pl-4" id="inputGroupSelect01">
                    <option selected>To</option>
                    <option value="1">30</option>
                    <option value="2">60</option>
                    <option value="3">90</option>
                  </select>
                  <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Select Mentor</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">Somil Neema</option>
                      <option value="2">Jyoti Tiwari</option>
                      <option value="3">Ritambara Patidar</option>
                    </select>
            </div>
    <button type="button" class="btn btn-primary">Submit</button>
</div>