<div class="kyc-section rewards-section reports-sectn">
    <div class="row">
        <div class="col-lg-3 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
              <div class="row">
                <div class="col-lg-12 profile-info">
                  <div class="profile-icon center">
                    <img src="./../../../assets/images/img_avatar2.png" alt="" />
                  </div>
                </div>
                <div class="text-center center-text">  <!--text alignent issue-->
                  <p>Dr. Sunil Jain<br>Professor,HOD</p>

                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                  <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="row">
                  <div class="col-lg-12 profile-info">
                    <div class="profile-icon center">
                      <img src="./../../../assets/images/img_avatar3.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Dr. Sunil Jain<br>Professor,HOD</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
          <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="row">
                  <div class="col-lg-12 profile-info">
                    <div class="profile-icon center">
                      <img src="./../../../assets/images/img_avatar2.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Dr. Sunil Jain<br>Professor,HOD</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 kyc-colm user-management">
                <div class="kyc-section rewards-section reports-sectn">
                  <div class="row">
                    <div class="col-lg-12 profile-info">
                      <div class="profile-icon center">
                        <img src="./../../../assets/images/img_avatar3.png" alt="" />
                      </div>
                    </div>
                    <div class="text-center center-text">  <!--text alignent issue-->
                      <p>Dr. Sunil Jain<br>Professor,HOD</p>

                      <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                      <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                    </div>
                  </div>
                </div>

              </div>

      </div>
      <br>
      <div class="row">
          <div class="col-lg-3 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
              <div class="row">
                <div class="col-lg-12 profile-info">
                  <div class="profile-icon center">
                    <img src="./../../../assets/images/img_avatar2.png" alt="" />
                  </div>
                </div>
                <div class="text-center center-text">  <!--text alignent issue-->
                  <p>Dr. Sunil Jain<br>Professor,HOD</p>

                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                  <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="row">
                  <div class="col-lg-12 profile-info">
                    <div class="profile-icon center">
                      <img src="./../../../assets/images/img_avatar3.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Dr. Sunil Jain<br>Professor,HOD</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 kyc-colm user-management">
                <div class="kyc-section rewards-section reports-sectn">
                  <div class="row">
                    <div class="col-lg-12 profile-info">
                      <div class="profile-icon center">
                        <img src="./../../../assets/images/img_avatar2.png" alt="" />
                      </div>
                    </div>
                    <div class="text-center center-text">  <!--text alignent issue-->
                      <p>Dr. Sunil Jain<br>Professor,HOD</p>

                      <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                      <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-3 kyc-colm user-management">
                  <div class="kyc-section rewards-section reports-sectn">
                    <div class="row">
                      <div class="col-lg-12 profile-info">
                        <div class="profile-icon center">
                          <img src="./../../../assets/images/img_avatar3.png" alt="" />
                        </div>
                      </div>
                      <div class="text-center center-text">  <!--text alignent issue-->
                        <p>Dr. Sunil Jain<br>Professor,HOD</p>

                        <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                        <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                      </div>
                    </div>
                  </div>

                </div>

        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="row">
                  <div class="col-lg-12 profile-info">
                    <div class="profile-icon center">
                      <img src="./../../../assets/images/img_avatar2.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Dr. Sunil Jain<br>Professor,HOD</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 kyc-colm user-management">
                <div class="kyc-section rewards-section reports-sectn">
                  <div class="row">
                    <div class="col-lg-12 profile-info">
                      <div class="profile-icon center">
                        <img src="./../../../assets/images/img_avatar3.png" alt="" />
                      </div>
                    </div>
                    <div class="text-center center-text">  <!--text alignent issue-->
                      <p>Dr. Sunil Jain<br>Professor,HOD</p>

                      <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                      <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-3 kyc-colm user-management">
                  <div class="kyc-section rewards-section reports-sectn">
                    <div class="row">
                      <div class="col-lg-12 profile-info">
                        <div class="profile-icon center">
                          <img src="./../../../assets/images/img_avatar2.png" alt="" />
                        </div>
                      </div>
                      <div class="text-center center-text">  <!--text alignent issue-->
                        <p>Dr. Sunil Jain<br>Professor,HOD</p>

                        <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                        <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-3 kyc-colm user-management">
                    <div class="kyc-section rewards-section reports-sectn">
                      <div class="row">
                        <div class="col-lg-12 profile-info">
                          <div class="profile-icon center">
                            <img src="./../../../assets/images/img_avatar3.png" alt="" />
                          </div>
                        </div>
                        <div class="text-center center-text">  <!--text alignent issue-->
                          <p>Dr. Sunil Jain<br>Professor,HOD</p>

                          <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                          <i class="fa fa-envelope fa-fw"></i> abc@gmail.com
                        </div>
                      </div>
                    </div>

                  </div>

          </div>
  </div>
