<div class="row">
  <div class="col-lg-12 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
      <div class="row">
        <div class="col-lg-9">
          <div>
            <h3 class="text-primary">Deparment of Computer Engineering</h3>
            <hr>
            <p>The Department of Computer Engineering was established in 1983, the first one in the state of
              Madhya
              Pradesh and Central India.Initailly the deaprtment offered an undergraduate program with an intake
              of
              12 students, which has now increaded to 120. It is the firstone to introduce the post graduate
              program
              in Computer in the Computer Engineering in the state.</p>
          </div>
          <div class="">
            <h3 class="text-primary">Vision</h3>
            <hr>
            <p>The Department of Computer Engineering envisions itself as a center of education, research and
              development for advancement of knowledge in the field of computer science and engineering to best
              serve
              the needs of students, industry and society. The spirit of service, honesty and quality as its
              foundational strength, the department aims to achieve its noble objective through total commitment
              and
              involvement of faculty, staff and students. Collaboration with industries and technical
              organizations
              is envisaged as a vital linkage for sustaining relevance and continuous upgradation.</p>
          </div>
          <div class="">
            <h3 class="text-primary">Mission</h3>
            <hr>
            <p>
              To create experts in the field of Computer Engineering to enable India to become an empowered
              nation.
            </p>
          </div>
          <div class="">
            <h3 class="text-primary">Facilities</h3>
            <hr>
            <p>To create experts in the field of Computer Engineering to enable India to become an empowered
              nation.</p>
          </div>
        </div>

        <div class="col-lg-3 kyc-colm user-management">
          <div class="kyc-section rewards-section reports-sectn">
              <h5 style="text-align:center;">Contact Us-Dept Office</h5>
              <hr>
              <div class="contact-icon">
                  <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 0731-256432</p>
                  <p><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671</p>
                  <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> vishalsinghal@gmail.com</p>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>