<div class="row">
  <div class="col-lg-12">
      <h4 class="heading">Class Time Table</h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-8">
      <ul class="nav nav-pills mb-3 nav-fill" id='ugpg' role="tablist">
          <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#ug">Under
                  Graduate</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#pg">Post Graduate</a>
          </li>
      </ul>
      <!--Ug and Pg pills start-->
      <div class="tab-content" id="ugpg">
          <div id='ug' class="tab-pane active">
              <!--Ug Pg tab start-->
              <ul class="nav nav-pills mb-3 nav-fill red" id='be_year' role="tablist">
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#be2nd">BE(2nd
                          Year)</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#be3rd">BE(3rd
                          Year)</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#be4th">BE(4th
                          Year)</a>
                  </li>
              </ul>
              <div class="tab-content" id='be_year'>
                  <!--2nd year class time table starts-->
                  <div id='be2nd' class="tab-pane">
                  </div>
                  <!--2nd year class time table finishes-->
                  <!--2nd year class time table starts-->
                  <div id='be3rd' class="tab-pane active">
                      <br>
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class="industrialVisitHeadingBackground">
                                  <tr>
                                      <th scope="col">Timing</th>
                                      <th scope="col">Monday</th>
                                      <th scope="col">Tuesday</th>
                                      <th scope="col">Wednesday</th>
                                      <th scope="col">Thursday</th>
                                      <th scope="col">Friday</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row">10:00-11:00</th>
                                      <td>CO34007</td>
                                      <td>CO34002</td>
                                      <td>CO34008</td>
                                      <td>CO34005</td>
                                      <td>CO34007</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">11:00-12:00</th>
                                      <td>CO34002</td>
                                      <td>CO34005</td>
                                      <td>CO34007</td>
                                      <td>CO34008</td>
                                      <td>CO34007</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">12:00-1:00</th>
                                      <td></td>
                                      <td>EC34007</td>
                                      <td>EC34007</td>
                                      <td>EC34007</td>
                                      <td>EC34007</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">1:00-2:00</th>

                                  </tr>
                                  <tr>
                                      <th scope="row">2:00-3:00</th>
                                      <td>CO34007</td>
                                      <td></td>
                                      <td>CO34008</td>
                                      <td>CO34005</td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <th scope="row">3:00-4:00</th>
                                      <td>CO34007</td>
                                      <td>CO34002</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <th scope="row">4:00-5:00</th>
                                      <td>CO34007</td>
                                      <td>CO34002</td>
                                      <td>CO34008</td>
                                      <td>CO34005</td>
                                      <td>CO34007</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">5:00-6:00</th>
                                      <td>CO34007</td>
                                      <td>CO34002</td>
                                      <td>CO34008</td>
                                      <td>CO34005</td>
                                      <td>CO34007</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div style="color:#1488CC;"><a href="#" style="float:right;"><i
                                  class="fa fa-download fa-fw"></i>Time Table</a></div>

                  </div>
                  <!--2nd year class time table finishes-->
                  <!--2nd year class time table starts-->
                  <div id='be4th' class="tab-pane">
                  </div>
                  <!--2nd year class time table finishes-->
              </div>
              <!--Ug Pg tab finish-->
          </div>
          <div id='pg' class='tab-pane'>
              there
          </div>
          <!--Ug and pg pills ends-->
      </div>
  </div>
  <div class="col-lg-4">
      <div class="row">
          <h6 class=" subjectandFacultyBackground">Subjects</h6>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="industrialVisitHeadingBackground">
                      <tr>
                          <th scope="col">Code</th>
                          <th scope="col">Subject</th>
                          <th scope="col">Year</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">CO24007</th>
                          <td>Data Structures</td>
                          <td>2nd</td>
                      </tr>
                      <tr>





















































                        
                          <th scope="row">CO24003</th>
                          <td>ADA</td>
                          <td>3rd</td>
                      </tr>
                      <tr>
                          <th scope="row">CO24001</th>
                          <td>IOT</td>
                          <td>4th</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <br>
      <div class="row">
          <h6 class=" subjectandFacultyBackground">Faculties</h6>
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="industrialVisitHeadingBackground">
                      <tr>
                          <th scope="col">Faculty</th>
                          <th scope="col">Subject</th>
                          <th scope="col">Sujects Code</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">Swarnim Soni</th>
                          <td>Data Structures</td>
                          <td>CO24007</td>
                      </tr>
                      <tr>
                          <th scope="row">Somil Neema</th>
                          <td>ADA</td>
                          <td>CO23001</td>
                      </tr>
                      <tr>
                          <th scope="row">Pooja Soni</th>
                          <td>IOT</td>
                          <td>CO23421</td>
                      </tr>
                      <tr>
                          <th scope="row">Somil Neema</th>
                          <td>ADA</td>
                          <td>CO23001</td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
