<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">PG-LAB</span>
  </nav>

<div class="container kyc-section rewards-section reports-sect">
    <ul class="nav nav-tabs " role="tablist">
       <li class="nav-item">
         <a class="nav-link active" data-toggle="tab" href="#Timetable">Timetable</a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" data-toggle="tab" href="#inventory">Inventory</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#information">Information</a>
       </li>
     </ul>
   
     <!-- Tab panes -->
     <div class="tab-content">
       <div id="inventory" class="container tab-pane"><br>
       
              <!--Start Right Panel-->
              <div class="col-lg-12 kyc-colm user-management">
        
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="heading1 row">
                        <h3 style="margin-left:30%;">Electronics<i class="fa fa-sort-desc fa-fw" class="icon" aria-hidden="true"></i></h3>
                        
                        <div style="margin-left:32%;">
                          <i class="fa fa-laptop fa-fw" aria-hidden="true"></i>
                          <i class="fa fa-cubes fa-fw" aria-hidden="true"></i>
                        </div>
                      </div>
                      <hr>
                      <br>
                      <div class="row">
        
                        <div class="col-lg-6 kyc-colm user-management">
                          <div class="kyc-section rewards-section reports-sectn">
                            <a href="Labs_Inventory_System.html" class="add-engagement">
                              <h4>Systems</h4>
                            </a>
                            <div class="text-center">
                              <p>Total : 32<br>Working : 31</p>
                            </div>
                            <p>Hardware Issue in PG25.</p>
                          </div>
                        </div>
                        <div class="col-lg-6 kyc-colm user-management">
                          <div class="kyc-section rewards-section reports-sectn">
                            <a href="#" class="add-engagement">
                              <h4>Air Conditioner</h4>
                            </a>
                            <div class="text-center">
                              <p>Total : 01<br>Working : 01</p>
                            </div>
                            <p>Nothing is due.</p>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
        
                        <div class="col-lg-6 kyc-colm user-management">
                          <div class="kyc-section rewards-section reports-sectn">
                            <a href="#" class="add-engagement">
                              <h4>Projectors</h4>
                            </a>
                            <div class="text-center">
                              <p>Total : 01<br>Working : 01</p>
                            </div>
                            <p>Nothing is due.</p>
                          </div>
                        </div>
                        <div class="col-lg-6 kyc-colm user-management">
                          <div class="kyc-section rewards-section reports-sectn">
                            <!--extra electronics product-->
                            <a href="Labs_Inventory_Printers.html" class="add-engagement">
                              <h4>Printers</h4>
                            </a>
                            <div class="text-center">
                              <p>Total : 05<br>Working : 04</p>
                            </div>
                            <p>Toner Refill is due.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 kyc-colm user-management ">
                      <div class="kyc-section rewards-section reports-sectn">
                        <div class="row">
                          <div class="col-lg-4" style="color:#1483CC">
                            <h4>Notifications</h4>
                          </div>
                         <!-- <div class="col-lg-8" style="padding-left:40%;">
                            <a href="#" class="add-engagement"><i class="fa fa-archive fa-fw" aria-hidden="true"></i>
                              Stock Record</a><br>
                            <a href="#" class="add-engagement"><i class="fa fa-book fa-fw" aria-hidden="true"></i>
                              Issue
                              Record</a>
                          </div>-->
                        </div>
                        <hr>
                        <div class="card">
                          <div class="card-header" id="headingone">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseone"
                                aria-expanded="false" aria-controls="collapseone" style="text-decoration:none">
                                <h5>Equipemnts</h5>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseone" class="collapse show" aria-labelledby="headingone" data-parent="#accordion">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-5">
                                  <h6>Issue 5 Keyboards</h6>
                                </div>
                                <div class="col-lg-3 add-engagement">
                                  <a href="#">goto stock</a>
                                </div>
                                <div class="col-lg-4">
                                  <p>By : Ravi Verma</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <p>From : PG Lab</p>
                                </div>
                                <div class="col-lg-4">
                                  <p>To: GCL Lab</p>
                                </div>
                                <div class="col-lg-4">
                                  <p><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago
                                  </p>
                                </div>
                              </div>
                              <div>
                              </div>
        
                            </div>
                          </div>
                        </div>
                        <!--Furniture-->
                        <div class="card">
                          <div class="card-header" id="headingtwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwo"
                                aria-expanded="false" aria-controls="collapsetwo" style="text-decoration:none">
                                <h5>Furniture</h5>
                              </button>
                            </h5>
                          </div>
                          <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo" data-parent="#accordion">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-5">
                                  <h6>Issue 7 Chairs</h6>
                                </div>
                                <div class="col-lg-3 add-engagement">
                                  <a href="#">goto stock</a>
                                </div>
                                <div class="col-lg-4">
                                  <p>By : Somil Neema</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-4">
                                  <p>From : SE Lab</p>
                                </div>
                                <div class="col-lg-4">
                                  <p>To: GCL Lab</p>
                                </div>
                                <div class="col-lg-4">
                                  <p><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 3 days ago
                                  </p>
                                </div>
                              </div>
                              <div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
       </div>
       <div id="Timetable" class="container tab-pane active"><br>
        <div class="col-lg-12 kyc-colm user-management">
              <div class="row page-headng">
                <div class="col-lg-3">
                  <h3>Select Date</h3>
                  <div id='calendar'></div>
                </div>
                <div class="col-lg-6 table-responsive page-headng">
                    <h3>Time Table</h3>
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Timing</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">10:00-11:00</th>
                        <td>CO34007</td>
                        <td>CO34002</td>
                        <td>CO34008</td>
                        <td>CO34005</td>
                        <td>CO34007</td>
                      </tr>
                      <tr>
                        <th scope="row">11:00-12:00</th>
                        <td>CO34002</td>
                        <td>CO34005</td>
                        <td>CO34007</td>
                        <td>CO34008</td>
                        <td>CO34007</td>
                      </tr>
                      <tr>
                        <th scope="row">12:00-1:00</th>
                        <td></td>
                        <td>EC34007</td>
                        <td>EC34007</td>
                        <td>EC34007</td>
                        <td>EC34007</td>
                      </tr>
                      <tr>
                        <th scope="row">1:00-2:00</th>
  
                      </tr>
                      <tr>
                        <th scope="row">2:00-3:00</th>
                        <td>CO34007</td>
                        <td></td>
                        <td>CO34008</td>
                        <td>CO34005</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">3:00-4:00</th>
                        <td>CO34007</td>
                        <td>CO34002</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">4:00-5:00</th>
                        <td>CO34007</td>
                        <td>CO34002</td>
                        <td>CO34008</td>
                        <td>CO34005</td>
                        <td>CO34007</td>
                      </tr>
                      <tr>
                        <th scope="row">5:00-6:00</th>
                        <td>CO34007</td>
                        <td>CO34002</td>
                        <td>CO34008</td>
                        <td>CO34005</td>
                        <td>CO34007</td>
                      </tr>
                    </tbody>
                  </table>
                  <a href="" class="add-engagement float-right"><i class="fa fa-download fa-fw"></i>view original time
                    table</a>
                </div>
                <div class="col-lg-3">
                  <div class="box text-center">
                  <h4><a href="#" class="add-engagement" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus" aria-hidden="true"></i>Add Engagement</a></h4>
                  </div>
                  <br>
                  <div class="box">
                  <h5 style="color:grey">Lab Engagements</h5>
                  <br>
                  <div class="row">
                    <div class="col-lg-7">
                      <p>Placement Activity<br>Dur: 1:00 to 2:00</p>
                    </div>
                    <div class="col-lg-5">
                      <p>03-09-2018</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-lg-7">
                      <p>Placement Activity<br>Dur: 10:00 to 12:00</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Today</p>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-lg-7">
                      <p>Workshop on Azure<br>Dur: 1:00 to 3:00</p>
                    </div>
                    <div class="col-lg-5">
                      <p>31-09-2018</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <p>Workshop on <br>Big-Data<br>Dur: 3:00 to 5:00</p>
                    </div>
                    <div class="col-lg-5">
                      <p>Today</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7">
                      <p>Placement Activity<br>Dur: 10:00 to 12:00</p>
                    </div>
                    <div class="col-lg-5">
                      <p>10-10-2018</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </div>
       </div>
       <div id="information" class="container tab-pane fade"><br>
        <div class="col-lg-12 kyc-colm user-management">
  
              <div class="row">
                <div class="col-lg-6">
                  <div class="">
                    <div class="page-headng">
                      <h3>Hardware and Embedded Systems Lab</h3>
                      <p>The lab is well equipped with all hardware components required for the complete study of
                        hardware, embedded systems and advanced networking. Availability of open PCs, Printers and
                        hardware components provide ease in the practicals to the students.</p>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <h4 class="heading">System Details</h4>
                        <p>Total Systems : 28<br>Non Reserverd : 24<br>Reserved : 04</p>
  
                        <h4 class="heading">Hardware Details</h4>
                        <p>Motherboard : 03<br>Printers : 03</p>
  
                      </div>
                      <div class="col-lg-6">
                        <h4 class="heading">Dimensions</h4>
                        <p>Lab Area : 500 sq. ft</p>
                        <h4 class="heading">Furniture and other Resources</h4>
                        <p>Tables : 12<br>Chairs : 35<br>Air Conditioners : 03</p>
                      </div>
                    </div>
                    <div><a href="#" class="heading float-right" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">Manage Details</a></div>
  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="">
                    <table class="table table-striped table responsive table-bordered">
                      <thead class="thead-dark">
                        <tr class="text-center">
                          <th scope="col" >U.G Labs Conducted</th>
                          <th scope="col">P.G Labs Conducted</th>
                          <th scope="col">P.G and <br>U.G Projects </th>
                          <th scope="col">Equipments and Facilities</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Subject: Computer Workshop</th>
                          <th scope="row">Experiments Related to:</th>
                          <th scope="row">Project in the Areas:</th>
                          <td>
                            <ul>
                              <li>Open PCs for Demostration</li>
                              <li>PCs</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <ul>
                              <li>Demo of Open PC</li>
                              <li>Demo of Input Devices</li>
                            </ul>
                          </td>
                          <td>
                            <ul>
                              <li>Information Security</li>
                            </ul>
                          </td>
                          <td>
                            <ul>
                              <li>Web Services</li>
                              <li>Robotics</li>
                            </ul>
                          </td>
                          <td>
                            <ul>
                              <li>Security Trainer Kit</li>
                              <li>Microcontroller Development Kit</li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                            <td>
                              <ul>
                                <li>Demo of Output Devices</li>
                                <li>Demo of Storage Devices</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Advanced Networking</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Distributed Server Load Balancing</li>
                                <li>Information Security</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>Storage Oscilloscope</li>
                                <li>Dual Trace Oscilloscope</li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                              <td>
                                <ul>
                                  <li>Assembling of PC</li>
                                 </ul>
                              </td>
                              <td>
                                <ul>
                                  <li>Embedded Systems</li>
                                </ul>
                              </td>
                              <td>
                                <ul>
                                  <li>Mobile App Development</li>
                                </ul>
                              </td>
                              <td>
                                <ul>
                                  <li>Digital IC Tester</li>
                                  <li>In-Circuit Emulator </li>
                                </ul>
                              </td>
                            </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
  
              </div>
          </div>
       </div>
     </div>
     </div>


















