<div class="row industrialVisitHeadingBackground ml-1  nav nav-tabs">
  <a href="#upcomingvisit" data-toggle="tab" class="col-lg-3" aria-controls="upcomingvisit"
      aria-selected="true" data-whatever="@mdo" style="text-decoration: none;">Visits</a>
  <a href="#showlistofindustry" data-toggle="tab" class=" col-lg-3" aria-controls="showlistofindustry"
      aria-selected="false" data-whatever="@mdo">Show List of Industries</a>
  <a href="#addNewIndustry" data-toggle="tab" class="col-lg-3" aria-controls="addNewIndustry"
      aria-selected="true" data-whatever="@mdo" style="text-decoration: none;">Add
      New Industry</a>
  <a href="#addindustrialvisit" data-toggle="tab" class=" col-lg-3" aria-controls="addindustrialvisit"
      aria-selected="false" data-whatever="@mdo">Add Industrial Visit</a>

</div>
<div class="container tab-content">
  <div class="row tab-pane active" id="upcomingvisit" role="tabpanel">

      <div class="row">
          <div class="col-lg-4 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                  <h6 class="text-center">National Informatics Center</h6>
                  <hr>
                  <div><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3:00
                      PM,
                      Monday,
                      12 Jan
                      2019
                      <hr>
                      Coordinator : Mr. Somil Neema
                      <br>Coordinator : Ms. Pooja Soni
                      <br>Coordinator : Mr. Umesh Rajput
                      <hr>
                      Total Students : 30
                      <a href="#" class="float-right active"><i class="fa fa-upload fa-fw"
                              aria-hidden="true"></i>Upload
                          List</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                  <h6 class="text-center">National Informatics Center</h6>
                  <hr>
                  <div><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3:00
                      PM,
                      Monday,
                      12 Jan
                      2019
                      <hr>
                      Coordinator : Mr. Somil Neema
                      <br>Coordinator : Ms. Pooja Soni
                      <br>Coordinator : Mr. Umesh Rajput
                      <hr>
                      Total Students : 30
                      <a href="#" class="float-right active"><i class="fa fa-upload fa-fw"
                              aria-hidden="true"></i>Upload
                          List</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                  <h6 class="text-center">National Informatics Center</h6>
                  <hr>
                  <div><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3:00
                      PM,
                      Monday,
                      12 Jan
                      2019
                      <hr>
                      Coordinator : Mr. Somil Neema
                      <br>Coordinator : Ms. Pooja Soni
                      <br>Coordinator : Mr. Umesh Rajput
                      <hr>
                      Total Students : 30
                      <a href="#" class="float-right active"><i class="fa fa-upload fa-fw"
                              aria-hidden="true"></i>Upload
                          List</a>

                  </div>
              </div>
          </div>

      </div>
      <br>
      <div class="industrialVisitHeadingBackground ml-1">
          <h6>Past Visits</h6>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-4 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                  <h6 class="text-center">National Informatics Center</h6>
                  <hr>
                  <div><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3:00
                      PM,
                      Monday,
                      12 Jan
                      2019
                      <hr>
                      Coordinator : Mr. Somil Neema
                      <br>Coordinator : Ms. Pooja Soni
                      <br>Coordinator : Mr. Umesh Rajput
                      <hr>
                      Total Students : 30
                      <a href="#" class="float-right active"><i class="fa fa-upload fa-fw"
                              aria-hidden="true"></i>Upload
                          List</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                  <h6 class="text-center">National Informatics Center</h6>
                  <hr>
                  <div><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3:00
                      PM,
                      Monday,
                      12 Jan
                      2019
                      <hr>
                      Coordinator : Mr. Somil Neema
                      <br>Coordinator : Ms. Pooja Soni
                      <br>Coordinator : Mr. Umesh Rajput
                      <hr>
                      Total Students : 30
                      <a href="#" class="float-right active"><i class="fa fa-upload fa-fw"
                              aria-hidden="true"></i>Upload
                          List</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                  <h6 class="text-center">National Informatics Center</h6>
                  <hr>
                  <div><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3:00
                      PM,
                      Monday,
                      12 Jan
                      2019
                      <hr>
                      Coordinator : Mr. Somil Neema
                      <br>Coordinator : Ms. Pooja Soni
                      <br>Coordinator : Mr. Umesh Rajput
                      <hr>
                      Total Students : 30
                      <a href="#" class="float-right active"><i class="fa fa-upload fa-fw"
                              aria-hidden="true"></i>Upload
                          List</a>

                  </div>
              </div>
          </div>

      </div>
      <br>
  </div>
  <div class="row tab-pane" id="showlistofindustry" role="tabpanel">
      <div class="table-responsive">
          <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Industry Name</th>
                      <th scope="col">GST No.</th>
                      <th scope="col">Official Person</th>
                      <th scope="col">Person's No.</th>
                      <th scope="col">Company No.</th>
                      <th scope="col">Email</th>
                      <th scope="col">Address</th>
                      <th scope="col">Date</th>
                      <th scope="col">Suitable Time</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>Advance 1o1</td>
                      <td>246754311CSGAT1</td>
                      <td>Mr. Amul Verma</td>
                      <td>+91 9753677332</td>
                      <td>0731-271010</td>
                      <td>advance101@gmail.com</td>
                      <td>23, Y.N Road, Indore, M.P</td>
                      <td>25-02-19</td>
                      <td>3:00 pm</td>
                  </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>Advance 1o1</td>
                      <td>246754311CSGAT1</td>
                      <td>Mr. Amul Verma</td>
                      <td>+91 9753677332</td>
                      <td>0731-271010</td>
                      <td>advance101@gmail.com</td>
                      <td>23, Y.N Road, Indore, M.P</td>
                      <td>25-02-19</td>
                      <td>3:00 pm</td>
                  </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>Advance 1o1</td>
                      <td>246754311CSGAT1</td>
                      <td>Mr. Amul Verma</td>
                      <td>+91 9753677332</td>
                      <td>0731-271010</td>
                      <td>advance101@gmail.com</td>
                      <td>23, Y.N Road, Indore, M.P</td>
                      <td>25-02-19</td>
                      <td>3:00 pm</td>
                  </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>Advance 1o1</td>
                      <td>246754311CSGAT1</td>
                      <td>Mr. Amul Verma</td>
                      <td>+91 9753677332</td>
                      <td>0731-271010</td>
                      <td>advance101@gmail.com</td>
                      <td>23, Y.N Road, Indore, M.P</td>
                      <td>25-02-19</td>
                      <td>3:00 pm</td>
                  </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>Advance 1o1</td>
                      <td>246754311CSGAT1</td>
                      <td>Mr. Amul Verma</td>
                      <td>+91 9753677332</td>
                      <td>0731-271010</td>
                      <td>advance101@gmail.com</td>
                      <td>23, Y.N Road, Indore, M.P</td>
                      <td>25-02-19</td>
                      <td>3:00 pm</td>
                  </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>Advance 1o1</td>
                      <td>246754311CSGAT1</td>
                      <td>Mr. Amul Verma</td>
                      <td>+91 9753677332</td>
                      <td>0731-271010</td>
                      <td>advance101@gmail.com</td>
                      <td>23, Y.N Road, Indore, M.P</td>
                      <td>25-02-19</td>
                      <td>3:00 pm</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="row tab-pane" id="addNewIndustry" role="tabpanel">
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="industry-name" class="col-form-label">Industry
                      Name
                      : </label>
                  <input type="text" class="form-control" id="industry-name">
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="industry_GSTNo" class="col-form-label">GST
                          Number : </label>
                      <input type="text" class="form-control" id="industry_GSTNo">
                  </div>
                  <div class="form-group col-6">
                      <label for="Name_of_the_to_Contact_with" class="col-form-label">Name
                          of the to Contact with : </label>
                      <input type="text" class="form-control" id="Name_of_the_to_Contact_with">
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="industry-name" class="col-form-label">Phone
                          No.
                          of Person : </label>
                      <input type="number" class="form-control" id="industry-name">
                  </div>
                  <div class="form-group col-6">
                      <label for="industry-name" class="col-form-label">Phone
                          No.
                          of Company : </label>
                      <input type="number" class="form-control" id="industry-name">
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-6">
                      <label for="industry-name" class="col-form-label">Email
                          Address : </label>
                      <input type="mail" class="form-control" id="industry-name">
                  </div>
                  <div class="form-group col-6">
                      <label for="industry-name" class="col-form-label">Address
                          of Company : </label>
                      <input type="text" class="form-control" id="industry-name">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-6">
                      <i class="fa fa-calendar mr-2"></i><label for="message-text"
                          class="col-form-label">Date(on
                          Industrial Visit can Arranged) : </label>
                      <input class="form-control" type="date" id="message-text">
                  </div>
                  <div class="col-6">
                      <i class="fa fa-clock-o mr-2"></i><label for="message-text"
                          class="col-form-label">Suitable
                          Time : </label>
                      <input class="form-control" type="time" id="message-text">
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-dismiss="modal">Reset</button>
          <button type="button" class="btn btn-primary">Submit</button>
      </div>



  </div>
  <div class="row tab-pane" id="addindustrialvisit" role="tabpanel">
      <div>
          <form>
              <div class="form-group">
                  <label for="visit-name" class="col-form-label">Industry
                      Name :
                  </label>
                  <input type="text" class="form-control" id="visit-name">
              </div>
              <div class="form-group row">
                  <div class="col-7">
                      <label for="date" class="col-form-label">Date : </label>
                      <input type="date" class="ml-1" id="date"><i class="fa fa-calendar fa-fw ml-2"
                          aria-hidden="true"></i>
                  </div>
                  <div class="col-5">
                      <label for="time" class="col-form-label">Time : </label>
                      <input type="time" class="ml-1" id="time"><i class="fa fa-clock-o fa-fw ml-2"
                          aria-hidden="true"></i>
                  </div>
              </div>
              <div class="form-group">
                  <label for="coordinator1" class="col-form-label">Coordinator
                      Name : </label>
                  <select class="form-control">
                      <option>Mr. Somil Neema</option>
                      <option>Ms. Pooja Soni</option>
                  </select>

              </div>
              <div class="form-group">
                  <label for="coordinator2" class="col-form-label">Coordinator
                      Name : </label>
                  <select class="form-control">
                      <option>Ms. Pooja Soni</option>
                      <option>Mr. Somil Neema</option>

                  </select>

              </div>
              <div class="form-group">
                  <label for="coordinator3" class="col-form-label">Coordinator
                      Name : </label>
                  <select class="form-control">
                      <option>Mr. Swarnim Soni</option>
                      <option>Ms. Pooja Soni</option>
                  </select>

              </div>
          </form>
      </div>
      <div class="float-right">
          <a href="#"><i class="fa fa-upload fa-fw"></i>
              Upload List of Student</a>
          <button type="reset" class="btn btn-secondary ml-3">Reset</button>
          <button type="button" class="btn btn-primary ml-3">Submit</button>
      </div>
  </div>
</div>
