.top-buffer {
    margin-bottom: 10px;
  }

  .icon {
    font-size: 25px;
    color: #1488CC;
  }

  .icon:hover {
    color: #f46404;
  }

  .request-resources {
    text-decoration: none;

  
  }

  .request-resources:hover {
    text-decoration: none;
  }

  .inline {
    display: inline-block;
    margin-right: 10px;
  }

  .ul-float-rigth {
    text-align: right;
  }

  .add-complaint {
    font-size: 18px;
    text-decoration: none;
    color: #0085cc;
  }

  .add-complaint:hover {
    text-decoration: none;
    color: #f46404;
  }

  .float {
    float: right;
  }

  .complaint-meter {
    text-decoration-line: none;
    color: #1488CC;
  }

  .complaint-meter:hover {
    text-decoration: none;
    color: #f46404;
  }

  .model-head {
    color: white;
    background: #1488CC;
  }

  .button-Reset {
    margin-bottom: 20px;
  }

  .pink-border {
    border: 1px solid pink;
  }

  .form-actions {

    background-color: transparent;
    text-align: center;

  }
  .dropdown-pull-right {
float: right !important;
right: 0;
left: auto;
}

.dropdown-pull-right>.dropdown-menu {
right: 0;
left: auto;
}


  .button-width {
    width: 78px;
  }

  .btnClear {
    display: inline-block;
    vertical-align: top;

  }

  .link {
    text-decoration: none;
  }

  .link:hover {
    color: #f46404;
  }

  .inline-ul:li {
    display: inline;
  }

  ul {
    display: flex;
    list-style: none;

  }

  .complaint-rem {
    font-size: 17px;
    color: #ff6a65;
  }

  .complaint-rem:hover {
    color: #58c365;
  }
  .modal-header{
    background-color:rgb(4, 58, 87);
    color:white;
    margin:0%;
    
  }
  .required-text{
    color: #ed0221;
    font-size: 12px;
  }
  .confirmationMessage{
    padding : 1% 2% 1% 2%;
    background-color: black;
    color:grey;
    border-radius: 2%;
    transition : 0.3s;
  }