<!-- Tooltip -->
<link href="../../../assets/css/tooltip.css" rel="stylesheet" type="text/css" />
<script src="js/tooltip.js" type="text/javascript"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script type="text/javascript" src="../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap-datepicker.js"></script>  

<!--grid script-->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function(){
    $('#myTable').dataTable();
  });
</script> 
<!--END grid script-->

<div class="container">
  <div class="row">

<!--Start Left Panel-->
      <div class="col-lg-12 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
      <!--Calendar comes in below div-->
        <div class="row">
          <div class="col-6">
            <h3 class="heading">Urjita Thakar</h3>
          </div>
          <div class="col-6">
            <h3 class="text-right">ID00001<i class="fa fa-pencil float-right" style="font-size: 30px; margin-left: 20px;"></i></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-3">
            <div><img class="profilepic"style="height:200px;width:200px" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
          </div>
          <div class="col-9">
            <div class=row>
            <div class="col-4">
              <p><b>Date of Joining:21/02/2016<br/>
                 Mobile No.: +91 7771882288<br/>
                 Nationality: Indian</b></p>
            </div>
            <div class="col-5">
              <p><b>DOB: 20 June 1994<br/>
                 Gender: Female<br/>
                 Email : divyanigarg09@gmail.com</b></p>
            </div>
            <div class="col-3">
                <p><b>Category: General<br/>
                  Blood Group: A+</b></p>
            </div>
            <div class="col-9">
                <p>Present Address : 734-E, Sec A Sudama Nagar, Indore(M.P.), 452009<br/>
                  Permanant Address : 734-E, Sec A Sudama Nagar, Indore(M.P.), 452009<br/>
                  father: Mohan Garg, +91 7771882288<br/>
                  Mother: Chandrakanta Garg, +91 7771882288</p>
            </div>
          </div>
          </div>
        </div>

      </div>

      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Work Experience <a data-toggle="modal" data-target="#experience_modal" ><i class="fa fa-plus-square float-right"  style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-suitcase text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Assistant System Engineer <a data-toggle="modal" data-target="#experience_modal" > <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>Tata Consultancy Services<br/>15 June 2015 - 04 Sept 2015<br/>Gandhinagar, Gujrat</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
              <i class="fa fa-suitcase text-center"  style="font-size: 60px; "></i>
            </div>
            <div class="col-11">
            <h5>Assistant System Engineer <a data-toggle="modal" data-target="#experience_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
              <p>Tata Consultancy Services<br/>15 June 2015 - 04 Sept 2015<br/>Gandhinagar, Gujrat</p>
            </div>
          </div>
        </div>

          <!-- Modal -->
          <div class="modal fade" id="experience_modal" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Experience</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form>


                  <div class="form-group col-lg">
                      <label for="reason">Title*</label>
                      <input class="form-control"  id="reason">
                    </div>
                  <div class="form-group col-lg">
                        <label for="reason">Company*</label>
                        <input class="form-control" id="reason">
                  </div>

                  <br/>
                  <div class="col-lg">
                    <label for="From">From </label>
                    <input type="date" name="From">
                    <label for="To">To </label>
                    <input type="date" name="To">
                  </div>

                  <br/>
                  <label class="control-label col-lg" for="Type of leave">Location</label>
                    <div class="col-lg">
                    <select id="leavetype" class="form-control">
                      <option>Hyderabad</option>
                      <option>Mumbai</option>
                      <option>Pune</option>
                    </select>
                    </div>
                   <br/>

                </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
          </div>
          </div>
          </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Qualifications <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-graduation-cap text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Shri G.S. Institute of Technology and Science, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>RGPV, Bhopal<br/>Masters of Engineering, Computer Engineering<br/>2017 - 2019<br/>cgpa : 7.73</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
                <i class="fa fa-graduation-cap text-center" style="font-size: 60px;"></i>
              </div>
              <div class="col-11">
                <h5>Indore Institute  of Science and Technology - II, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a> </h5>
                <p>RGPV, Bhopal<br/>Bachelors of Engineering, Computer Science Engineering<br/>2011 - 2015<br/>cgpa : 8.06</p>
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-1">
                  <i class="fa fa-university text-center" style="font-size: 60px;"></i>
                </div>
                <div class="col-11">
                  <h5>Shri Bal Vinay Mandir, Chattribagh, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
                  <p>MP Board<br/>Higher Secondary, PCM<br/>2010 - 2011<br/>percentage: 73%</p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-university text-center" style="font-size: 60px;"></i>
                  </div>
                  <div class="col-11">
                    <h5>Shri Bal Vinay Mandir, Chattribagh, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
                    <p>MP Board<br/>High School<br/>2008 - 2009<br/>percentage: 75%</p>
                </div>
              </div>


              <!-- Modal -->
          <div class="modal fade" id="education_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                      <label class="control-label col-lg" for="Type of leave">Degree / Certificate</label>
                      <div class="col-lg">
                      <select id="leavetype" class="form-control">
                        <option>BE</option>
                        <option>ME</option>
                        <option>B Tech</option>
                      </select>
                      </div>
                     <br/>

                      <div class="form-group col-lg">
                          <label for="reason">College / School*</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">University / Board *</label>
                            <input class="form-control" id="reason">
                      </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">Year of Joining*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">Year of Passing</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>

                      <div class='row'>
                      <div class="form-group col-lg-6">
                          <label for="reason">Percentage / CGPA *</label>
                          <input class="form-control" id="CGPA">
                      </div>

                      <br/>

                      <div class="form-group col-lg-6">
                          <label for="reason">Upload Degree / Final Marksheet *</label>
                          <i class = "fa fa-file"></i>
                      </div>
                    </div>
                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Research Work  <a data-toggle="modal" data-target="#publication_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-book text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>LEACH-ENL : Low Energy Adaptive Clustering Hierarchy with Enhanced Network Lifetime in Wireless Sensor Network <a data-toggle="modal" data-target="#publication_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>May 2015, IIJCS<br/>Guide : Mr. K. Anil Kumar	<br/>Co-Authors : Kanak Soni, Vatika Goswami<br/>http://ipasj.org/IIJCS/Volume3Issue5/IIJCS-2015-04-29-10.pdf</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-book text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>LEACH-ENL : Low Energy Adaptive Clustering Hierarchy with Enhanced Network Lifetime in Wireless Sensor Network <a data-toggle="modal" data-target="#publication_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>May 2015, IIJCS<br/>Guide : Mr. K. Anil Kumar	<br/>Co-Authors : Kanak Soni, Vatika Goswami<br/>http://ipasj.org/IIJCS/Volume3Issue5/IIJCS-2015-04-29-10.pdf</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-book text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>LEACH-ENL : Low Energy Adaptive Clustering Hierarchy with Enhanced Network Lifetime in Wireless Sensor Network <a data-toggle="modal" data-target="#publication_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>May 2015, IIJCS<br/>Guide : Mr. K. Anil Kumar	<br/>Co-Authors : Kanak Soni, Vatika Goswami<br/>http://ipasj.org/IIJCS/Volume3Issue5/IIJCS-2015-04-29-10.pdf</p>
          </div>
        </div>
      </div>

      <!-- Modal -->
          <div class="modal fade" id="publication_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Research Work</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                      <div class="form-group col-lg">
                          <label for="reason">Title*</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">Conference / Journal*</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Guide*</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Conference / Journal*</label>
                            <input class="form-control" id="reason">
                      </div>

                      <br/>
                      <div class="col-lg">
                        <label for="From">Date of Publication*</label>
                        <input type="date" name="Joining">
                      </div>
                      <br/>

                      <div class="col-lg">
                        <label for="To">Link</label>
                        <input class="form-control" id="link">
                      </div>

                      <br/>

                      <div class="form-group col-lg-6">
                          <label for="reason">Co- Authors*</label>
                          <input class="form-control" id="CGPA">
                      </div>

                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Activity  <a data-toggle="modal" data-target="#internship_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-building text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Salesforce CRM Management  :  45 Days <a data-toggle="modal" data-target="#internship_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>Quest Global Services<br/>Zanaeerwala, Indore<br/>15 June 2015 - 04 Sep 2015<br/><a href="#">View Certificate</a></p>
          </div>
        </div>
      </div>

      <!-- Modal -->
          <div class="modal fade" id="internship_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Internship</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                       <div class="form-group col-lg">
                          <label for="reason">Company Name*</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">Company Address *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <br/>

                      <label class="control-label col-lg" for="Type of leave">Location*</label>
                      <div class="row">
                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>Country</option>
                        <option>India</option>
                        <option>USA</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>State</option>
                        <option>M.P.</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>City</option>
                        <option>Indore</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      </div>
                     <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Area/ Subject/ Topic*</label>
                          <input class="form-control"  id="reason">
                        </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">From*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">To *</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>


                      <div class="form-group col-lg">
                          <label for="reason">Upload Certificates *</label>
                          <i class = "fa fa-file"></i>
                      </div>
                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      

    <!-- Modal -->
          <div class="modal fade" id="project_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Projects</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                       <div class="form-group col-lg">
                          <label for="reason">Title *</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">Guide *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Co Guide *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Description *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Area/ Subject/ Topic*</label>
                          <textarea class="form-control"  id="reason"></textarea>
                        </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">From*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">To *</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>

                      <div class="form-group col-lg-6">
                          <label for="reason">Co- Authors*</label>
                          <input class="form-control" id="CGPA">
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>

              <br/>

      

      <!-- Modal -->
          <div class="modal fade" id="comp_exam_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Competitive Exam</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="col-lg">
                      <label for="reason">Name of Exam *</label>
                      <select id="leavetype" class="form-control">
                        <option>GRE</option>
                        <option>GATE</option>
                        <option>CAT</option>
                      </select>
                      </div>

                      <div class="form-group col-lg">
                            <label for="reason">Registration No. *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="col-lg">
                      <label for="reason">Year of Exam *</label>
                      <select id="leavetype" class="form-control">
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                      </select>
                      </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">Score *</label>
                        <input type="form-control" id="reason">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">All India Rank *</label>
                        <input type="form-control" id="reason">
                      </div>
                    </div>
                      <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Upload Score Card*</label>
                          <i class = "fa fa-file"></i>
                      </div>
                      <br/>
                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>
      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Duties <i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-suitcase text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Deloitte, Hyderabad (On Campus) <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
            <p>6.2 CTC<br/>status</p>
          </div>
        </div>
      </div>

      <!-- Modal -->
          <div class="modal fade" id="placement_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Internship</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                       <div class="col-lg">
                      <label for="reason">Company Name *</label>
                      <select id="leavetype" class="form-control">
                        <option>Delloite</option>
                        <option>GATE</option>
                        <option>CAT</option>
                      </select>
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Company Address *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <br/>

                      <label class="control-label col-lg" for="Type of leave">Location*</label>
                      <div class="row">
                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>Country</option>
                        <option>India</option>
                        <option>USA</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>State</option>
                        <option>M.P.</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>City</option>
                        <option>Indore</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      </div>
                     <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Area/ Subject/ Topic*</label>
                          <input class="form-control"  id="reason">
                        </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">From*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">To *</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>


                      <div class="form-group col-lg">
                          <label for="reason">Upload Certificates *</label>
                          <i class = "fa fa-file"></i>
                      </div>
                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      </div>
      </div>


  <!--End Left Panel-->


    <!--Start Right Panel-->
  
    </div>
    </div>





 