<style type="text/css">
  .span-text {
    font-size: 16px;
    margin-left: 8px;
  }

  .more {
    text-decoration: none;
    float: right;
    color: #0085cc;
  }

  .more:hover {
    text-decoration: none;
    color: #f46404;
  }

  .contact-icon {
    margin-left: 8px;
  }

  .box {
    padding: 1%;
    margin: 1%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
  }

  .center {
    display: block;
    margin-left: 8%;

  }
  .center-text{
    margin-left:20%;
  }
  .navbar-left {
    margin-left: 9%;

  }

  .navbar-padding>li {
    padding-left: 8px;
    padding-right: 8px;
  }
</style>

    <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Central Inventory</span>
    <a class="nav-link" href="hod/infrastructure" style="color: ghostwhite">Back</a>
    </nav> 
  
    <div class="col-lg-12 kyc-colm user-management  kyc-section rewards-section reports-sectn">
        <div class = "row">
        <div class="col-lg-9 kyc-colm user-management" style="border-right: 1px solid grey">
        <nav class=" navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 pl-4">Electrical Appliances</span>
        </nav> 
        <div class = "row pt-4">
          <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="assets/images/cpu.png" alt="Smiley face" height="100" width="100"><br>
              <a href="" style="margin-left: 30px" > CPUs</a>
          </div> 
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="assets/images/printer.jpeg" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Printers</a>
        </div>
         <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="assets/images/mouse.png" alt="Smiley face" height="100" width="100"><br>
              <a href="" style="margin-left: 35px"> Mouse</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="assets/images/monitor.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" style="margin-left: 15px" > Monitors</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="assets/images/ac.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" style="margin-left: 30px"> ACs</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="assets/images/projector.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" style="margin-left: 20px" >Projectors</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4" style ="margin-left: 15px">
            <img src="assets/images/switch.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" >Others</a>
          </div>
        </div>
        <hr>
        <nav class=" navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 pl-4">Furniture</span>
        </nav> 
        <div class = "row pt-4">
          <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="assets/images/chair.jpeg" alt="Smiley face" height="100" width="100"><br>
              <a href="" class="center-text" >Chairs</a>
          </div> 
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="assets/images/table.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Desks</a>
        </div>
         <div class = "col-sm-2 kyc-colm user-management pt-4">
              <img src="assets/images/desk.png" alt="Smiley face" height="100" width="100"><br>
              <a href="" class="center-text" > Tables</a>
          </div>
          <div class = "col-sm-2 kyc-colm user-management pt-4">
            <img src="assets/images/sofa.png" alt="Smiley face" height="100" width="100"><br>
            <a href="" class="center-text" > Others</a>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3 kyc-colm user-management">
      <div class = "row">
          <div class="col-lg-12 kyc-colm user-management">
        
          <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Labs
                    </button>
                  </h2>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="list-group">
                        <a href="#" class= "list-group-item">Hardware and Peripheral Lab</a>
                        <a href="#" class= "list-group-item">Software Engineering Lab</a>
                        <a href="#" class= "list-group-item">CNDC Lab</a>
                        <a href="#" class= "list-group-item">Data Science Lab</a>
                        <a href="#" class= "list-group-item">New Lab 2 Lab</a>
                        <a href="#" class= "list-group-item">GCL Lab</a>
                        <a href="#" class= "list-group-item">IOT Lab</a>
                        <a href="#" class= "list-group-item">PG-Lab</a>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Classrooms
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      <div class="list-group">
                          <a href="#" class= "list-group-item">LT201</a>
                          <a href="#" class= "list-group-item">LT301</a>
                          <a href="#" class= "list-group-item">208</a>

                      </div>
                  </div>
                </div>
              </div>
        
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Others
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                      <div class="list-group">
                          <a href="#" class= "list-group-item">Audio Visual Learning Center</a>
                          <a href="#" class= "list-group-item">Server Room and Data Center</a>
                          <a href="#" class= "list-group-item">Conferece Room</a>
                          <a href="#" class= "list-group-item">Tutorial Room</a>
                          <a href="#" class= "list-group-item">Department Library</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
        </div>
</div>

