<div class="row">
    <div class="col-lg-7" style="color:#1488CC;">
      <h5>All Notification</h5>
    </div>
    <div class="col-lg-5" style="padding-left:2%">
      <ul class="searchbox float-left">
        <li class="">
          <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
          <i class="fa fa-search" style="position: absolute;top:11px;" aria-hidden="true"></i>
        </li>
      </ul>
      <div style="color:#1488CC;"><a href="#" class="add-complaint float-left" style="padding-top:2%;text-decoration: none;"><i
           class="fa fa-filter fa-fw fa-lg" aria-hidden="true"></i>Filter</a>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-1 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago</p>
        <p class="col-4"> Start date: 24/08/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Quiz Schedule</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Today</p>
        <p class="col-4"> Start date: 26/08/2018</p>
        <div class="col-4">

        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Quiz Schedule</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-2 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5 days ago</p>
        <p class="col-4"> Start date: 12/09/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-1 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago</p>
        <p class="col-4"> Start date: 24/08/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Quiz Schedule</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Today</p>
        <p class="col-4"> Start date: 26/08/2018</p>
        <div class="col-4">

        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Quiz Schedule</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-2 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5 days ago</p>
        <p class="col-4"> Start date: 12/09/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-1 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago</p>
        <p class="col-4"> Start date: 24/08/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Quiz Schedule</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Today</p>
        <p class="col-4"> Start date: 26/08/2018</p>
        <div class="col-4">

        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Quiz Schedule</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-2 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5 days ago</p>
        <p class="col-4"> Start date: 12/09/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
    </div>
    <!--Notification Panel Ends-->
  </div>